// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    //display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

$color-background: #181818;
$color-item-background: #282828;
$color-type: #fefefe;
$thumb-side: 240px;
$item-height: 360px;

@mixin center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.artist {
    width: $thumb-side !important;
    height: $item-height;
    margin-right: 20px;
    background: $color-item-background;
    &:last-child {
        margin: 0;
    }
    &__thumbnail {
        position: relative;
        width: $thumb-side;
        height: $thumb-side;
        overflow: hidden;
    }
    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(40px);
        z-index: 1;
    }
    &__image {
        width: ($thumb-side / 2);
        height: ($thumb-side / 2);;
        border-radius: 50%;
        z-index: 3;
        @include center-center;
    }
    &__ring {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, .2) 100%);
        z-index: 2;
        box-shadow: 4px 0 2px -4px rgba(255, 255, 255, .9), -4px 0 2px -4px rgba(255, 255, 255, .9);
        @include center-center;
        &--outer {
            width: 200px;
            height: 200px;
        }
    }
    &__label {
        display: flex;
        height: ($item-height - $thumb-side);
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 10px;
    }
}
